* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: var(--font-roboto);
  max-width: 100vw;
  overflow-x: hidden;
}

.appContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px minmax(calc(100vh - 80px), 1fr) 40px;
  min-height: 100%;
}

.pageWrapper {
  margin: 24px auto;
  max-width: 1600px;
  width: 100%;
}
